.skills {
  /* border: 2px solid red; */
  height: 90vh;
  margin-bottom: 50px;
}
.title {
  font-size: 55px;
  font-weight: 900;
  color: black;
}
.container {
  /* border: 2px solid red; */
  display: flex;
  width: 90vw;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
}

@media only screen and (max-width: 1200px) {
  /*Tablets [1001px -> 1200px]*/
}
@media only screen and (max-width: 1000px) {
  /*Big smartphones [601px -> 1000px]*/
  .skills {
    height: auto;
  }
  .container {
    margin-top: 0px;
    width: 90vw;
  }
}
@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .title {
    font-size: 40px;
  }
  .container {
    margin-top: 25px;
    width: 90vw;
  }
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .skills {
    height: auto;
  }
  .title {
    font-size: 40px;
  }
  .container {
    margin-top: 25px;
    width: 90vw;
  }
}
